# NBA Data analysis

The data set used in this exercise is taken from https://www.kaggle.com/nathanlauga/nba-games

## Imports section

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

## Data set loading

Note: loading the following CSV will give a DtypeWarning because columns (6) have mixed types. This quite trivial information could be quite important in the following steps

In [ ]:
path = os.path.join(os.path.curdir,"sample_data", "games_details.csv")
df = pd.read_csv(path)

df

## Exploratory Data Analysis

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.describe().T

In [ ]:
df.columns

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.tail()

## Null values management and data wrangling

In [ ]:
df1 = df.dropna()
df1

This simple operation (done in a separate dataframe to maintain the integrity of original loaded data) show us that all rows have at least a missing value

In [ ]:
df['COMMENT'].isnull().sum()

### Exercise 

Filter data frame to obtain only rows with null comment

In [ ]:
has_null_comments = df.COMMENT.isnull()
df[has_null_comments]

### Exercise

Drop the columns that end with "_ID", possibly in one line

In [ ]:
df = df.drop([col for col in df.columns if col.endswith("_ID")], axis=1)
df

### Exercise

Find null values in MIN

In [ ]:
has_null_min = df.MIN.isnull()
df[has_null_min]

## Plotting

### Exercise

Plot a bar chart with the top 10 players that played the most matches

In [ ]:
# Counts how may rows contains the player name
# Each row represents a played game
most_played_df = df.PLAYER_NAME.value_counts(ascending=False)
# Keep only the top 10, our target
most_played_df = most_played_df[0:10]

In [ ]:
plt.figure(figsize=(10, 10))
plt.bar(most_played_df.index, most_played_df)
plt.xticks(most_played_df.index, rotation=45)
plt.title('Top 10 players by games played')
plt.ylabel('Games played')
plt.show()

## Statistics extraction

### Exercise

Find player that has the highest PLUS_MINUS on average (mean)

In [ ]:
# Check if the affected column has null values
df['PLUS_MINUS'].isnull().sum()

In [ ]:
# Keep only the subset of columns I need to calculate the required result
columns_to_keep = ['PLAYER_ID', 'PLAYER_NAME', 'PLUS_MINUS']
plus_minus_df = df.drop([col for col in df.columns if col not in columns_to_keep ], axis=1)

In [ ]:
# Remove null values
plus_minus_df_valued_only = plus_minus_df.dropna()

In [ ]:
# Group by player name summing PLUS_MINUS
plus_minus_df_grouped = plus_minus_df_valued_only.groupby('PLAYER_NAME').agg({'PLUS_MINUS': np.mean })

# Find the highest value index
highest_value_idx = plus_minus_df_grouped.PLUS_MINUS.argmax()
plus_minus_df_grouped.iloc[highest_value_idx]

#### Solution (if there are no mistakes): Quenton Jackson

### Exercise

Find player that has the most AST (assists)

In [ ]:
# Pseudocode - Step by step guide
# 1. Keep only subset of columns of interest
# 2. Drop null values
# 3. Group by player
# 4. Sum AST column values
# 5. Keep the highest one

In [ ]:
columns_to_keep_ex_2 = ['PLAYER_ID', 'PLAYER_NAME', 'AST']
ast_df = df.drop([col for col in df.columns if col not in columns_to_keep_ex_2 ], axis=1)

In [ ]:
ast_df.AST.isnull().sum()

In [ ]:
ast_df.dropna()

In [ ]:
ast_df_grouped = ast_df.groupby('PLAYER_NAME').agg({'AST': np.sum })
highest_ast_idx = ast_df_grouped.AST.argmax()
ast_df_grouped.iloc[highest_ast_idx]

#### Solution (if I am not making a mistake somewhere): Chris Paul

### Exercise

Who is the most accurate shooter inside the 3 that has tried at least 1000 shots

Note: FGM stands for Field Goal Made, while FGA stands for Field Goal Attempted

In [ ]:
# Pseudocode - Step by step guide
# 1. Keep only columns of interest
# 2. Drop null FGA
# 3. Group by player
# 4. Filter df in order to keep only players with sum(FGA) > 1000
# 5. Create a new column with sum(FGM) / sum(FGA) as a value
# 6. Pick the index with the highest value in this division

In [ ]:
columns_to_keep_ex_3 = ['PLAYER_ID', 'PLAYER_NAME', 'FGM', 'FGA']
fgm_fga_df = df.drop([col for col in df.columns if col not in columns_to_keep_ex_3 ], axis=1)

In [ ]:
fgm_fga_df = fgm_fga_df[fgm_fga_df['FGA'].notna()]

In [ ]:
fgm_fga_df_grouped = fgm_fga_df.groupby('PLAYER_NAME').agg({'FGM': np.sum, 'FGA': np.sum})

In [ ]:
more_than_1000_fga_mask = fgm_fga_df_grouped['FGA'] > 1000
fgm_fga_df_grouped = fgm_fga_df_grouped[more_than_1000_fga_mask]
fgm_fga_df_grouped['FG_PRECISION'] = fgm_fga_df_grouped['FGM'] / fgm_fga_df_grouped['FGA']

In [ ]:
highest_precision_position = fgm_fga_df_grouped.FG_PRECISION.argmax()
fgm_fga_df_grouped.iloc[highest_precision_position]

#### Solution (if I haven't made any mistake somewhere): Mitchell Robinson